* {
    box-sizing: border-box;
    margin: 100px;
    padding: 0;
}

div {
    height: 200px;
    width: 200px;
    background-color: red;
    transition: all 2s;
    transform-origin: bottom left;
}

div:hover {
    transform: scale(2) rotate(90deg);
}